<!DOCTYPE html>  
<head>
  <meta charset = "UTF-8">    
  <link rel="stylesheet" type="text/css" href="index.css">
  <title>IOT CONTROL PANEL</title>
</head>  
<body>  
  <!-- <script src="socket.io.js"></script> -->
  <script src="/socket.io/socket.io.js"></script>  
<script>
    var socket = io();
    function show_alerton(){
		        socket.emit('led:on');
		        console.log('LED ON');
                alert("LED Connected");
            }
    function show_alertoff(){
                socket.emit('led:off');
                console.log('LED OFF');
                alert("LED Disconnected");
            }
</script>
<script>
    function show_motionon(){
                alert("Motion Sensor On")
    }
    function show_motionoff(){
                alert("Motion Sensor Off")
    }
</script>
  
  <header>
    <h1>IOT CONTROL PANEL</h1>
  </header>
  
    <aside>
            <h2 class="ControlPanel">Control Panel</h2>
        <sub>

            <h2 class="LED">LED Controller</h2>
            <div>
            <button class="LEDButton" onclick="show_alerton()">On</button>
            <button class="LEDButton" onclick="show_alertoff()">Off</button>
            </div>

            <h2 class="Motion">Motion Controller</h2>
            <div ng-controller="Motion">
            <button class="MotionButton" ng-click="motionOn()" onclick="show_motionon()">On</button>
            <button class="MotionButton" ng-click="motionOff()" onclick="show_motionoff()">Off</button>
            </div>

            <div>
            <h2 class="MotionDetected">Motion Detected</h2>
            </div>

            <div>
            <h2 class="LongMotions">Long Motion</h2>
            </div>

            <div>
            <h2 class="ShortMotions">Short Motion</h2>
            </div>

        </sub>
    </aside>
        <footer>
            Copyright 2017
        </footer>
</body>

